<header>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <strong>Market Prices</strong>
            </a>

            <div class="navbar-nav">
                <a class="nav-link" routerLink="/set-prices" routerLinkActive="active">
                    Set prices
                </a>
            </div>
        </div>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>